.top-nav-bar {
    height: 100px;
    top: 0;
    background: #2d2d38;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.nav_logo {
    margin-left: 50px;
    margin-top: 15px;
    height: 50px;
    width: 150px;
}

.search-logo {
    display: inline-flex;
    width: 70%;
}

.form-control {
    margin-top:9px;
    margin-left: 50px;
    box-shadow: none !important;
}
.input-group-text {
    background: tomato;
    /* border: 1px solid tomato; */
    margin: 10px 10px 3px 0;
    height: 35px;
    cursor: pointer;
}
.search-box {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    height: 45px;
}


.fa-search{
    color: #fff;
}
.menu-bar {
    width: 30%;
    height: 57px;
    float: right;
}
.menu-bar :hover {
    color: tomato;
    cursor: pointer;
}
.menu-bar ul {
    display: inline-flex;
    float: right;
}
.menu-bar ul li {
    list-style-type: none;
    padding: 15px 20px;
    text-align: center;
    background-color: #2d2d38;
    cursor: pointer;
}
.menu-bar ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.header {
    display: flex;
    gap: 2%;
    margin: auto;
    margin-left: 3%;
}
.tags {
    display: flex;
    gap: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.category {
    display: flex;
    font-weight: bold;
    color: #fff;
    gap: 10px;
    margin-left: 120px;
    margin-top: 8px;
}
.category :hover {
    color: tomato;
    cursor: pointer;
}
.category h6 {
    margin-left: 120px;
    font-size: 14px;
    font-weight: bold;
}