#container {
    width: 100%;
    height: 700px;
  }

  #cloth1 {
    display: flex;
    justify-content: space-evenly;
  }

  #cloth2 {
    display: flex;
    justify-content: space-evenly;
  }

  #cloth3 {
    display: flex;
    justify-content: space-evenly;
  }

  #cloth4 {
    display: flex;
    justify-content: space-evenly;
  }

  img {
    width: 200px;
    height: 200px;
  }

  p {
    margin-left: 10px;
  }