*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #f1f3f4;
    font-family: sans-serif;
}
.top-nav-bar {
    height: 82px;
    top: 0;
    position: sticky;
    background: darkslategray;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    z-index: 2;
}
.logo {
    margin-left: 30px;
}
.form-control {
    margin-top:9px;
    margin-left: 50px;
    border-top: 1px solid tomato !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius:0 !important;
    box-shadow: none !important;
}
.input-group-text {
    background: tomato;
    border: 1px solid tomato;
    margin: 10px 10px 3px 0;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    cursor: pointer;
}
.search-box {
    display: inline-flex;
    width: 70%;
    height: 50px;
}
.fa-search{
    color: #fff;
}
.menu-bar {
    width: 30%;
    height: 57px;
    float: right;
}
.menu-bar ul {
    display: inline-flex;
    float: right;
}
.menu-bar ul li {
    /* border-left: 1px solid #fff; */
    list-style-type: none;
    padding: 15px 20px;
    text-align: center;
    background-color: darkslategray;
    cursor: pointer;
}
.menu-bar ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

/* ---------------- Side-menu ------------ */
.side-menu {
    margin-left: 5%;
    height:79%;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: #ddd;
}
.side-menu ul {
    margin-left: 10px;
}
.side-menu ul li {
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.side-menu ul li :hover {
    color: orange;
}
.side-menu ul li ul {
    display: none;
    z-index: 10;
    top: 77px;
}
.side-menu ul li:hover ul {
    display: block;
    height: 200px;
    margin-left: 13%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #ececec;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 980px) {
    .side-menu {
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
    }
    .side-menu ul li ul {
        top: 1133px;
    }
    .side-menu ul li:hover ul {
        margin-left: 31;
    }
}

/* =============== Slider CSS ================ */

.slider {
    width: 55%;
    margin-left: 20%;
    /* margin-right: 15%; */
    padding: 0 10px;
}
.carousal {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
.carousal-indicators {
    z-index:1 !important;
}
@media only screen and (max-width: 980px) {
    .slider {
        width: 100%;
        margin-left: 0;
    }
}

/* ========= Right Side( Register ) CSS ========= */
.register {
    background-color: #ffebe1;
    border: 1px soild red;
    margin-left: 78%;
    width: 20%;
    height: 60%;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.upper button {
    border-radius: 25px;
    padding: 8px 5px;
    margin: 10px;
    margin-left: 30px;
    padding-right: 15px;
    font-weight: bold;;
}
.upper h6 {
    font-weight: bold;
}
.lower {
    font-size: 12px;
    margin: auto;
    text-align: center;
}
.lower h6 {
    font-weight: bold;
}
.join {
    color: #fff;
    background-color: tomato;
    border: none;
    text-align: center;
}
.sign {
    border: none;
    background-color: #fff;
    text-align: center;
}