*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #f1f3f4;
    font-family: sans-serif;
}
.top-nav-bar {
    height: 100px;
    top: 0;
    background: #2d2d38;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.logo {
    margin-left: 50px;
    margin-top: 15px;
}

.search-logo {
    display: inline-flex;
    width: 70%;
}

.form-control {
    margin-top:9px;
    margin-left: 50px;
    box-shadow: none !important;
}
.input-group-text {
    background: tomato;
    /* border: 1px solid tomato; */
    margin: 10px 10px 3px 0;
    height: 35px;
    cursor: pointer;
}
.search-box {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    height: 45px;
}
.fa-search{
    color: #fff;
}
.menu-bar {
    width: 30%;
    height: 57px;
    float: right;
}
.menu-bar :hover {
    color: tomato;
    cursor: pointer;
}
.menu-bar ul {
    display: inline-flex;
    float: right;
}
.menu-bar ul li {
    list-style-type: none;
    padding: 15px 20px;
    text-align: center;
    background-color: #2d2d38;
    cursor: pointer;
}
.menu-bar ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.header {
    display: flex;
    gap: 2%;
    margin: auto;
    margin-left: 3%;
}
.tags {
    display: flex;
    gap: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.category {
    display: flex;
    font-weight: bold;
    color: #fff;
    gap: 10px;
    margin-left: 120px;
    margin-top: 8px;
}
.category :hover {
    color: tomato;
    cursor: pointer;
}
.category h6 {
    margin-left: 120px;
    font-size: 14px;
    font-weight: bold;
}

/* ---------------- Side-menu ------------ */
.side-menu {
    height:490px;
    width: 20%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: #ddd;
}
.side-menu ul {
    margin-left: 10px;
}
.side-menu ul li {
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.side-menu ul li :hover {
    color: orange;
}
.side-menu ul li ul {
    display: none;
    z-index: 10;
    top: 77px;
}
.side-menu ul li:hover ul {
    display: block;
    height: 400px;
    margin-top: 3.3%;
    margin-left: 14%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #ececec;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 980px) {
    .side-menu {
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
    }
    .side-menu ul li ul {
        top: 1133px;
    }
    .side-menu ul li:hover ul {
        margin-left: 31;
    }
}



/* =============== Slider CSS ================ */

.slider {
    width: 55%;
    padding: 0 10px;
}
.carousal {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
.carousal-indicators {
    z-index:1 !important;
}
@media only screen and (max-width: 980px) {
    .slider {
        width: 100%;
        margin-left: 0;
    }
}
.slider2 {
    margin-top: 16px;
}

/* ========= Right Side( Register ) CSS ========= */
.register {
    background-color: #ffebe1;
    border: 1px soild red;
    width: 20%;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    height: 490px;
}
.register hr {
    width: 80%;
    margin: auto;
}
.upper {
    margin-top: 70px;
    margin-bottom: 40px;
}
.upper button {
    border-radius: 25px;
    padding: 8px;
    margin: 10px;
    margin-left: 20px;
    padding-right:  25px;
    font-weight: bold;
}
.upper h6 {
    font-weight: bold;
}
.lower {
    font-size: 12px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}
.lower h6 {
    font-weight: bold;
}
.join {
    color: #fff;
    background-color: tomato;
    border: none;
    text-align: center;
}
.sign {
    border: none;
    background-color: #fff;
    text-align: center;
}

/* =============== FLASH DEALS CSS ======================== */
.flash_deals {
    margin-top: 20px;
}
.flash_deals p {
    text-align: left;
    font-weight: bold;
    margin-left: 40px;
}
.flash_deals div{
    display: flex;
    gap: 2%;
    justify-content: space-evenly;
}

/* ================ footer CSS ============== */

.footer{
    width: 100%;
    margin-top: 20px;
    background-color: whitesmoke;
    font-family: OpenSans,Arial;
}
.footer_first{
    display: flex;
    gap: 10%;
    margin-top: 50px;
    
}
.footer_first ul{
    margin-left: 30px;
}
.footer_first ul li{
    text-decoration: none;
    list-style: none;
    line-height: 30px;
    font-size: 13px;
    
}
.footer_first input{
    border: none;
    font-size: 16px;
    padding: 10px;
    background-color: #f7f7f7;
}
.footer_first hr{
    color: black;
    height: 2px;
    background-color: black;
}
.footer_first a{
    text-decoration: none;
    color: rgb(104, 102, 102);
}
.footer_first h4{
    color: rgb(63, 62, 62);
    font-size: 15px;
}
.footer_input{
    display: flex;

}
.footer_input_image{
    height: 20px;
    width: 40px;
    margin-top: 10px;
}
.footer_input_image img{
    height: 100%;
    width: 100%;
}
.footer_linkaddress{
    display: flex;
    gap: 20px;
}
.footer_mac{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 20px;
}
.footer_mac img{
    width: 50%;
    height: 50%;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.footer_QR{
    display: flex;

    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
}
.footer_QR img{
    height: 50%;
    width: 20%;
    border-radius: 20px;
    margin-left: 5px;
    margin-top: 10px;
}
.footer_QR span{
    margin-top: 10px;
    margin-left: 3px;
}
.footer_first li span{
    margin-left: 50px;
}
.footer_listofOption{
    width: 90%;
    margin: auto;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer_listofOption img{
    height: 100%;
    width: 100%;
}