<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Banggood E-commerce</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://kit.fontawesome.com/ec511ed51a.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/users/index.css" />
  </head>

  <body>
    <div class="top-nav-bar">
      <div class="search-box">
        <div class="search-logo">
          <img src="https://css.banggood.in/web/src/img/header-new-logo@2x.png" width="150" height="50" class="logo" />
          <input type="text" class="form-control" placeholder="Search" />
          <span class="input-group-text">
            <div style="color: white"><i class="fa-solid fa-magnifying-glass"></i></div>
          </span>
        </div>
        <div class="menu-bar">
          <ul>
            <li><a href="#">Ship to</a></li>
            <li><a href="#"><i class="fa-solid fa-user-plus"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-cart-plus"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="category">
        <p>CATEGORIES</p>
        <h6>FLASH DEALS</h6>
        <h6>CLEARANCE SALE</h6>
        <h6>TOP SELLERS</h6>
      </div>

    </div>

    <section class="header">
      <div class="side-menu">
        <ul>
          <li>
            Women's Clothing
            <ul>
              <a href="/products"><li>Dresses</li></a>
              <li>outwear</li>
              <li>Plus Size</li>
              <li>Tops</li>
              <li>Two-Piece Set</li>
              <li>Sleepwear</li>
              <li>Swimwear</li>
              <li>Bottoms</li>
              <li>Women's Accessories</li>
              <li>Trending</li>
            </ul>
          </li>
          <li>
            Men's Clothing
            <ul>
              <li>T-Shirt</li>
              <li>Jeans</li>
              <li>Shirts</li>
              <li>Denim</li>
              <li>Two-Piece Set</li>
              <li>Sleepwear</li>
              <li>Swimwear</li>
              <li>Shoes</li>
              <li>Hoodie</li>
              <li>Trending</li>
            </ul>
          </li>
          <li>
            Phones & Accessories
            <ul>
              <li>Smartphones</li>
              <li>Mobile Phones</li>
              <li>Cases & Covers</li>
              <li>Screen Protectors</li>
              <li>Chargers & Cables</li>
              <li>Power Banks & Stations</li>
              <li>Headphones & Speakers</li>
              <li>Memory Cards</li>
              <li>Selfie Stick</li>
              <li>Gadgets</li>
              <li>Hot Brands</li>
              <li>Tripods</li>
            </ul>
          </li>
          <li>Electronics</li>
          <li>Tools, Industrial 7 scientific</li>
          <li>Toys Hobbies and Robot</li>
          <li>Computers & Office</li>
          <li>Automobiles & Motorcycles</li>
          <li>Sports & Outdoor</li>
          <li>Home, Garden & furniture</li>
          <li>Jewellery & Wwatches</li>
          <li>Shoes & Bags</li>
        </ul>
      </div>

      <div class="slider">
        <div
          id="slider"
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://css.banggood.in/web/src/img/indexnewest/home-lcp-empty-big.jpg" class="d-block w-100" />
            </div>
            <div class="carousel-item">
              <img src="https://imgaz.staticbg.com/banggood/os/202202/20220223234649_373.jpg.webp" class="d-block w-100" />
            </div>
            <div class="carousel-item">
              <img src="https://imgaz.staticbg.com/banggood/os/202202/20220225032416_615.jpg.webp" class="d-block w-100" />
            </div>
            <div class="carousel-item">
              <img src="https://imgaz.staticbg.com/banggood/os/202202/20220225032244_588.jpg.webp" class="d-block w-100" />
            </div>
            <div class="carousel-item">
              <img src="/views/Images/Image5.webp" class="d-block w-100" />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="4"
              aria-label="Slide 5"
            ></button>
          </div>
        </div>

        <div class="slider2"><img src="Images/Bangood slider2.JPG" width="700px" ></div>
      </div>

      <div class="register">
        <div class="upper">
          <h6>Welcome to Banggood</h6>
          <a href="signUp.html"><button class="join">Join us</button></a>
          <a href="signIn.html"><button class="sign">Sign in</button></a>
        </div>
        <hr />
        <div class="lower">
          <h6>Customer Service Policy</h6>
          <p>Payment Security</p>
          <p>Delivery Guaruntee</p>
          <p>Quality Guaruntee</p>
          <p>No Reason Returns</p>
        </div>
      </div>
    </section>

    <div class="flash_deals">
      <p>Flash Deals</p>
      <div class="img">
        <div><img src="https://imgaz1.staticbg.com/thumb/grid/oaupload/banggood/images/19/8D/d695a5ee-2c12-40aa-847a-340f610043bb.jpg.webp" alt="#"></div>
        <div><img src="https://imgaz3.staticbg.com/thumb/grid/oaupload/banggood/images/7A/CD/a469b53f-4bfb-4877-a321-feaa35439540.jpg.webp" alt="#"></div>
        <div><img src="https://imgaz1.staticbg.com/thumb/grid/oaupload/banggood/images/32/83/fe953408-9e6f-4b95-88e3-8a47f3f4bf8c.jpg.webp" alt="#"></div>
        <div><img src="https://imgaz.staticbg.com/thumb/grid/oaupload/banggood/images/B4/7C/8b5d1473-7564-43ff-a629-565fa3df6366.jpg.webp" alt="#"></div>
        <div><img src="https://imgaz.staticbg.com/thumb/grid/oaupload/banggood/images/09/79/399e192a-d21c-4008-979c-5a840f8c857f.jpg.webp" alt="#"></div>
        <div><img src="https://imgaz3.staticbg.com/thumb/grid/oaupload/banggood/images/A7/66/5f16a254-0e09-4ccf-9022-0b59e786823f.jpg.webp" alt="#"></div>
      </div>
    </div>

    <div class="flash_deals">
      <p>New Arrivals</p>
      <div class="img">
        <div><img src="https://imgaz3.staticbg.com/thumb/grid/oaupload/banggood/images/E2/0A/dcb97be1-3293-41bc-a369-c4b3d504f864.jpg.webp" alt="#"></div>
        <div><img src="https://imgaz1.staticbg.com/thumb/grid/oaupload/banggood/images/7F/F6/cacf3154-9c33-4a11-b972-12bd50bb17cc.jpg.webp" alt="#"></div>
        <div><img src="https://imgaz.staticbg.com/thumb/grid/oaupload/banggood/images/5C/AE/34f4daa3-2747-465b-9757-05e1ef9d3de5.jpg.webp" alt="#"></div>
        <div><img src="https://imgaz2.staticbg.com/thumb/grid/oaupload/banggood/images/27/03/21ee974c-d5ec-43f2-abe7-ad4044bdbef1.jpg.webp" alt="#"></div>
        <div><img src="https://imgaz.staticbg.com/thumb/grid/oaupload/banggood/images/E4/6E/2cc93279-e461-447e-a980-4645252c1a6f.jpg.webp" alt="#"></div>
        <div><img src="https://imgaz.staticbg.com/thumb/grid/oaupload/banggood/images/33/45/aea9c077-b520-4c5a-9b6d-90bf2cb7bd9f.jpg.webp" alt="#"></div>
      </div>
    </div>

    <!-- ------ footer ------ -->
    <div class="footer">
      <div class="footer_first">
          <ul>
              <li><a href=""><h4>Get to Know Us</h4></a></li>
              <li><a href="">About Banggood.in</a></li>
              <li><a href="">Guarantees & Return Policy</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Help Center</a></li>
              <li><a href="">Site Map</a></li>
              <li><a href="">Intellectaul Property Claims</a></li>
              <li><a href=""><h4>Subscribe</h4></a></li>
              <li><a href="">By subscribe you agree to receive email from us.</a></li>
              <li><a href="">Please ead our Privacy Policy.</a></li>
              <div class="footer_input">
                  <input type="text" placeholder="Email Address">
                  <a href=""><div class="footer_input_image">
                      <img src="https://i.stack.imgur.com/Kmm7t.png" alt="">
                  </div></a>
              </div>
              
              <hr>
          </ul>
          <ul>
              <li><a href=""><h4>Payment & Shipping</h4></a></li>
              <li><a href="">Payment Methods</a></li>
              <li><a href="">BGpay Instrunction</a></li>
              <li><a href="">Shipping Guide</a></li>
              <li><a href="">Locations We Ship To</a></li>
              <li><a href="">Estimated Delivery Time</a></li>
              <li><a href=""><h4>Partnership Programs</h4></a></li>
              <li><a href="">Drop shipping</a></li>
              <li><a href="">Review club</a></li>
              <li><a href="">Affiliate Program</a></li>
              <li><a href="">Wholesale Program</a></li>
              <li><a href="">Fashion Blogger Program</a></li>
          </ul>
          <ul>
              <li><a href=""><h4>Dowonload App</h4></a></li>
              <div class="footer_linkaddress">
                  <a href="https://www.banggood.in/AppDownload.html?tags=www-ios&pid=direct&utm_content=all&utm_source=adwords&install_source=www&shortlink=wwwiOSDownload&utm_medium=cpc_brand&utm_campaign=all-sbcn-india-bg-rsa&deep_link_value=banggood://home&c=wwwdownload">
                      <div class="footer_mac">
                          <img src="https://media.idownloadblog.com/wp-content/uploads/2018/07/Apple-logo-black-and-white.png" alt="">
                      </div>
                  </a>
                  <a href="https://www.banggood.in/AppDownload.html?tags=www-android&pid=direct&utm_content=all&utm_source=adwords&install_source=www&shortlink=wwwAndroidDownload&utm_medium=cpc_brand&utm_campaign=all-sbcn-india-bg-rsa&deep_link_value=banggood://home&c=wwwdownload">
                      <div class="footer_mac">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0RJLTMCyZ70caJBFDtPIn1jJioNswhuKajPFAsAtxb__8H9KSn2fVkTuC7_9iV2yPENo&usqp=CAU alt="">
                      </div>
                  </a>
                  <a href="">
                      <div class="footer_QR">
                          <img src="https://blog.hubspot.com/hs-fs/hub/53/file-2457427390-jpg/00-Blog_Thinkstock_Images/qr-code.jpg?width=381&name=qr-code.jpg alt=">
                          <span>QR Code</span> 
                      </div>
                  </a>
              </div>
              <li><a href=""><h4>Follow Us</h4></a></li>
              <li><a href="">Facebook <span>VK </span> </a></li>
              <li><a href="">Instagram <span>Blog </span> </a></li>
              <li><a href="">YouTube <span>Reddit</span> </a></li>
              <li><a href="">Twitter <span>Telegram</span> </a></li>
              <li><a href="">Pinterest <span>TikTok</span> </a></li>
              <li><a href="">2006-2022 BANGGOOD</a></li>
              <li><a href="">TERMS PRIVACY SPECIALIZED AFFAIRS</a></li>
          </ul>
      </div>
      <div class="footer_listofOption">
          <img src="Images/footer.JPG" alt="">
      </div>
  </div>

  </body>
</html>

<!-- Bootstrap 5 JS -->
<script src="js/bootstrap.min.js"></script>

<!-- Main JS  -->
<script src="js/main.js"></script>
